
/* Media queries
-------------------------------------------------------------------------------*/

@media screen and (max-width: 480px) {


}

.gris {
	background-color: #b2b1b1 ;
	color: white; 
}
.gris-oscuro {
	background-color: #9f9d9e ;
	color: white;
}
.cyan {
	background-color: #1dcfd1;
	color: white;
}
.boton {
	border-radius: 0.5em;
	border:none;
	height: 1.5em;
	/*box-shadow : laterales,abajo,expandir,color*/
	-webkit-box-shadow: -2px 3px 10px #888888;
	   -moz-box-shadow: -2px 3px 10px #888888;
	        box-shadow: -2px 3px 10px #888888;
}
input[type='text'], input[type='search']  {
	border: 0.1em solid;
	border-radius: 0.3em;
	height: 1.8em;
}


img.middle {
	vertical-align: middle;
}
a.white {
	color: white;
	text-decoration: none;
	font-family: tahoma;
	font-size: 0.9em;
}

#container {
	max-width: 960px;
	margin: auto; 
} 
/*----------logo-----------*/
#geolo  {
	text-align: right;
	height: 1.8em;
	padding: 0.2em;
	padding-right: 1em;
}
#logo {
	width: 9em;
	height: 13.1em;
	margin-left: 3em;
	position: absolute;
	top: 0em;
	-webkit-box-shadow: 0px -8px 18px #888888; 
	   -moz-box-shadow: 0px -8px 18px #888888;
	        box-shadow: 0px -8px 18px #888888;
}
#logo figure img {
	height: 13em;
	padding-left: 0.5em;
}
/*--------carrito-producto-------------*/
#producto , #navegacion {
	margin-left: 13em;
	height: 5.7em;
}

#producto form {
	float: left;
	margin: 1em;
	margin-top: 2em;
	margin-left: 8em;
}
#usuario_carrito {
	float: right;
	margin: 1em;
	margin-top: 2em;
}

#cuenta_carro {
	width: 2em;
}
/*--------navegacion---------*/
#navegacion ul li {
	display: inline-block;
	width: 4em;
	margin-left: 3.5em;
	margin-top: 1em;
	font-size: 1.2em
}
#navegacion ul li a {
	text-decoration: none;
	color: #9f9d9e;
}
/*-------boletin----------*/
#boletin {
	height: 3em;
}
#boletin  nav {
	float: left;
	padding: 1em;
}
#boletin  nav a {
	font-size: 0.8em;
	text-decoration: none;
	color: white ;
	margin-right: 2em;
}
#boletin  form {
	padding: 1em;
}
/*-----------body---------------*/
#bannerCamiseta {
	background-image: url(../imagenes/banner_camiseta.png);
	height: 27em;
}
header h5 {
	font-size: 3em;
	color: white;
	-webkit-text-shadow: -4px 5px 7px #000000; 
       -moz-text-shadow: -4px 5px 7px #000000;
            text-shadow: -4px 5px 7px #000000;
}
#botonCamiseta {
	float: right;
	margin-top: 12.5em;
	margin-right: 6em;
	width: 15em;
	height: 2.3em;
	font-size: 1.4em;
	
}

#bannerEnvio {
	background-image: url(../imagenes/banner_envio.png);
	height: 22.5em;
}




