
/* Media queries
-------------------------------------------------------------------------------*/

@media screen and (max-width: 480px) {


}

.gris {
	background-color: #b2b1b1 ;
	color: white; 
}
.gris-oscuro {
	background-color: #9f9d9e ;
	color: white;
}
.cyan {
	background-color: #1dcfd1;
	color: white;
}
.boton {
	border-radius: 0.5em;
	border:none;
	height: 1.5em;
	/*box-shadow : laterales,abajo,expandir,color*/
	-webkit-box-shadow: -2px 3px 10px #888888;
	   -moz-box-shadow: -2px 3px 10px #888888;
	        box-shadow: -2px 3px 10px #888888;
}
.clear {
	clear: both;
}
img.middle {
	vertical-align: middle;
}
a.white {
	color: white;
	text-decoration: none;
	font-family: tahoma;
	font-size: 0.9em;
}

#container {
	max-width: 960px;
	margin: auto; 
} 

#geolo  {
	text-align: right;
	height: 2.1em;
	padding: 0.2em;
	padding-right: 1em;
}
#logo {
	
	width: 10em;
	height: 17em;
	margin-left: 3em;
	position: absolute;
	top: 0em;
	-webkit-box-shadow: 0px -8px 18px #888888; 
	   -moz-box-shadow: 0px -8px 18px #888888;
	        box-shadow: 0px -8px 18px #888888;
}
#producto , #navegacion {
	margin-left: 13em;
	background-color: grey;
}


