.clearfix {
	overflow: hidden;
	
}
.container {
	width: 960px;
	margin: auto;
	background-color: #14171A;
	font-family: tahoma;
}
.list {
	width: 100%;
	font-size: xx-large;
	list-style-type: none;
	padding:0px;
}
.shadow {
	-webkit-box-shadow: 0px 1px 16px 5px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 1px 16px 5px rgba(0,0,0,0.75);
	box-shadow: 0px 1px 16px 5px rgba(0,0,0,0.75);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.navlist {
	display: inline-block;
	width: 180px;
	height: 180px;
	background-color: #1C1E29;
	color: white;
	text-align: center;
	margin: 0px 25px 0px 25px;
	border-radius: 50%;
	border: 10px solid #343C45;
	font-variant: small-caps;
	padding-top: 6%;
	cursor: pointer;
}
.seclist {
	width: 40%;
	float: left;
	margin: 10px 0px 20px 0px; 
}
.miniature {
	width: 323px;
	height: 323px;
	border: 20px solid #343C45;
	border-radius: 20px;
	overflow: hidden;
}
.photo_container {
	margin: 0px;
}
.photo {
	width: 160%;
	z-index: 1;
}
.photolist {
	overflow: hidden;
	padding-left: 110px;
	padding-top: 20px;
}
.flip {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}
.visible {
	display:none;
}
.curtain {
	display: block;
	width: 283px;
	height: 283px;
	margin-top: 0px;
	position: absolute;
	background-color: lightgray;
	padding: 30px;
	opacity: 0;
	z-index: 99;
	cursor: pointer;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.title {
	color: #FFFFFF;
	text-align: center;
	font-size: 30px;
}
.text_inp {
	height:40px; 
    width:20px; 
    padding:5px 8px;
    border:3px solid #343C45;
    border-radius:2px;
    -moz-transition: width .25s; 
    -webkit-transition: width .25s; 
    -o-transition: width .25s;
    transition: width .25s;
}
.price {
	font-size: 25px;
	color: #1D4F73;
	padding-left: 20px;
}
.decoration {
	display: inline-block;
	vertical-align: middle;
	content: "";
	width: 100%;
	height: 0.2em;
	background: #9f9d9e;
	margin-right:0.5em;	
}
.video {
	margin: 0px 290px;
	width: 40%;
}
.footerlist {
	color: #FFFFFF;
	text-align: center;
	padding-bottom: auto; 
	padding-top: 20px; 
}
.microdata {
	display: block;
}